# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Generated Data (Optional)
# ==========================
data/processed/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db